# Terraform local state
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file 
.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Variables 
*.tfvars

#pem files
*.pem

